# /node_modules
/public/hot
# /public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
./.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/_ide_helper.php
.phpunit.result.cache
.phpunit.result.cache
fields_sample.json
# composer.lock
storage/
