/* CUSTOM PALETTE */

.colorpicker {
  z-index: 99999;
  &.dropdown-menu {
    right: inherit;
    padding: 2px;
    border: 1px solid #DDD;
  }
}

.custom-palette {
  position: fixed;
  left: 0;
  top: 125px;
  z-index: 15000;
  border-top: 2px solid #0F7AD5;
  border-right: 2px solid #0F7AD5;
  border-bottom: 2px solid #0F7AD5;
  -webkit-transition: margin 0.2s linear;
  -moz-transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  transition: margin 0.2s linear;
  top: 125px;
  z-index: 150;
  .custom-palette-box {
    background: #FFF;
    color: black;
    position: relative;
    padding: 15px 15px;
    padding-right: 0;
    width: 210px;
    .custom-palette-box-pr {
      max-height: calc(100vh - 200px);
      overflow-y: auto;
      padding-right: 15px;
    }
    .custom-palette-btn {
      color: white;
      position: absolute;
      right: -50px;
      top: 46px;
      border: 0;
      border-radius: 0;
      font-size: 18px;
      font-weight: 600;
      width: 50px;
      height: 50px;
      text-align: center;
      font-size: 30px;
      i {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: all 0.75s;
        -moz-transition: all 0.75s;
        -o-transition: all 0.75s;
        -ms-transition: all 0.75s;
        transition: all 0.75s;
        transform-origin: center;
        transform-style: preserve-3d;
        transition-timing-function: ease-out;
      }
      &:hover i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  &.palette-closed {
    margin-left: -212px;
  }
}

#pallete-save, #pallete-reset {
  margin-top: 15px;
}

.custom-palette {
  .custom-palette-box {
    input:not([type='radio']) {
      background: #F1F1F1;
      border: 1px solid #CCC;
      height: 32px;
      font-size: 14px;
      vertical-align: middle;
    }
    .c-input {
      &:first-child {
        margin-right: 35px;
      }
      cursor: pointer;
      input {
        margin-bottom: 4px;
      }
    }
  }
  .input-group {
    margin-bottom: 15px;
  }
  .label-title {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 1;
    margin-bottom: 12px;
    padding-bottom: 5px;
    position: relative;
    &:after {
      background: #DDD;
      bottom: -5px;
      content: '';
      position: absolute;
      height: 1px;
      left: 0;
      width: 100%;
    }
  }
  .input-group-addon {
    background-color: #E5E5E5;
    padding: 5px 14px;
  }
  .colorpicker-element .input-group-addon i {
    margin-top: 2px;
  }
  .palette-prepared {
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      list-style: none;
      margin: 0;
      margin-right: -13px;
      margin-bottom: 10px;
      padding: 0;
    }
    li {
      border: 1px solid rgb(210, 210, 210);
      display: block;
      float: left;
      list-style: none;
      margin-top: -1px;
      margin-left: -1px;
    }
  }
  .palette-prepared-list a {
    background-color: black;
    display: block;
    height: 40px;
    margin: 0;
    width: 40px;
  }
  .palette-prepared-list-images a img {
    height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .palette-color-orange a {
    background-color: #F3C409;
  }
  .palette-color-brown a {
    background-color: #846447;
  }
  .btn-wide {
    width: 100%;
    line-height: 18px;
    padding: 10px 0;
    white-space: normal;
  }
  .palette-color-purple a {
    background-color: #8E5C90;
  }
  .palette-color-cyan a {
    background-color: #0AA699;
  }
  .palette-color-green a {
    background-color: #39B54A;
  }
  .palette-color-blue a {
    background-color: #19A0D8;
  }
  .palette-color-pink a {
    background-color: #BF224E;
  }
  .palette-color-red a {
    background-color: #CD2122;
  }
  .c-input > input:focus ~ .c-indicator {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

#palette-backgroundimage-prepared a.active {
  box-shadow: 2px 2px 0 #666;
  -webkit-box-shadow: 2px 2px 0 #666;
}

#pallete-background-boxed {
  display: block;
}

.additional_palette {
  cursor: poointer;
  label {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-palette .bootstrap-select {
  .selectpicker-primary {
    margin: 0;
    border: 1px solid #CCC;
  }
  &.btn-group .dropdown-menu.inner {
    border: 1px solid #B1B1B1;
  }
}

/* CUSTOM PALETTE */

#load_popup_modal_show_id {
  .modal-dialog {
    width: 900px;
  }
  .alert {
    margin-bottom: 25px;
    display: block;
  }
  img {
    vertical-align: middle;
    max-width: 100%;
  }
}