#map-geo-tooltip {
    position: fixed;
    z-index: 999999;
    color: white;
    padding: 5px 15px;
    background: #565656;
    border: 2px solid #000;
    border-radius: 3px;
}

#svgmap {
    max-width: 100%;
}